/*resposive view*/
/*xtra small*/
@media (max-width: 575.98px){
    /* .jumbotron .ufo{
        display: none;
    } */

    .banner-img img{
        display: none;
    }



    #about{
        background-image: url(../img/avatar.png);
        background-size: 130vh;
        background-position: 7vh;
        background-repeat: no-repeat;
        padding: 80px 0;
    }

    .about-title .title{
        text-align: left;
    }

    .about-desc{
        width: 60%;
        margin-top: 30px;
    }

    .main-list .card{
        margin: 0 auto;
        display: block;
    }

    .contact-img{
        display: none;
    }

    .contact-list{
        order: 1;
    }

    #sosmed{
        border-top: 1px solid #cccdcf;
    }

    @keyframes ufo{
        0% {
            -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
        }
        20% {
            -webkit-transform: translate(83px, -1px) rotate(36deg);
            transform: translate(83px, -1px) rotate(36deg);
        }
        40% {
            -webkit-transform: translate(161px, 72px) rotate(72deg);
            transform: translate(161px, 72px) rotate(72deg);
        }
        60% {
            -webkit-transform: translate(150px, 144px) rotate(108deg);
            transform: translate(150px, 144px) rotate(108deg);
        }
        80% {
            -webkit-transform: translate(10px, 73px) rotate(144deg);
            transform: translate(10px, 73px) rotate(144deg);
        }
        100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
    }
   
  
}

/*small/ smartphone*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .jumbotron .ufo{
        display: none;
    }

    .banner-img img{
        display: none;
    }

    #about{
        background-image: url(../img/avatar.png);
        background-size: 130vh;
        background-position: 7vh;
        background-repeat: no-repeat;
        padding: 80px 0;
    }

    .about-title .title{
        text-align: left;
    }

    .about-desc{
        width: 60%;
        margin-top: 30px;
    }

    .contact-img{
        display: none;
    }

    .main-list .card{
        margin: 0 auto;
        display: block;
        width: 16em;
    }

    
}

/*medium/ tablet*/
@media (min-width: 568px) and (max-width: 991.98px) {
    #about{
        background-image: url(../img/avatar.png);
        background-size: 130vh;
        background-position: 17vh;
        background-repeat: no-repeat;
        padding: 80px 0;
    }

    .about-title .title{
        text-align: left;
    }

    .about-desc{
        width: 50%;
        margin-top: 30px;
    }
}

/*large/ pc*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #about{
        background-image: url(../img/avatar.png);
        background-size: 130vh;
        background-position: 97vh;
        background-repeat: no-repeat;
        padding: 80px 0;
    }

    .about-title .title{
        text-align: left;
    }

    .about-desc{
        width: 60%;
        margin-top: 30px;
    }     
}
