/*resposive view*/
/*xtra small*/
@media (max-width: 575.98px){
    /* .jumbotron .ufo{
        display: none;
    } */
    .img-ban img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.5);
        margin-top: 70px;
    }
    .img-ban{
        display: inline-block;
    }

    .banner-txt{
        margin-top: 10px;
    }
    #about{
        padding: 80px 0;
    }

    .about-desc{
        width: 100%;
        margin-top: 30px;
        padding: 0 40px;
    }
    .about-title .title{
        text-align: left;
    }


    .main-list .card{
        margin: 0 auto;
        display: block;
    }

    .contact-img{
        display: none;
    }

    .contact-list{
        padding-top: 30px;
        text-align: center;
    }

    #sosmed{
        border-top: 1px solid #cccdcf;
    }

    @keyframes ufo{
        0% {
            -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
        }
        20% {
            -webkit-transform: translate(83px, -1px) rotate(36deg);
            transform: translate(83px, -1px) rotate(36deg);
        }
        40% {
            -webkit-transform: translate(161px, 72px) rotate(72deg);
            transform: translate(161px, 72px) rotate(72deg);
        }
        60% {
            -webkit-transform: translate(150px, 144px) rotate(108deg);
            transform: translate(150px, 144px) rotate(108deg);
        }
        80% {
            -webkit-transform: translate(10px, 73px) rotate(144deg);
            transform: translate(10px, 73px) rotate(144deg);
        }
        100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
    }
   
  
}

/*small/ smartphone*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .jumbotrons{
    height: 630px;
    /* background:linear-gradient(90deg, #888df5,  #696fdd); */
    /* background-color: #88e7ce; */
    /* background-color: #fbfbfb; */
    background-image: url(../img/eko-bg.png);
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: 155vh;
    color: #333;
    background-color: #fbfbfb;
    padding-bottom: 0;
    margin-top: 0;
}

    .jumbotrons .ufo{
        display: none;
    }

    #about{
        padding: 80px 0;
    }

    .about-desc{
        width: 100%;
        margin-top: 30px;
        padding: 0 40px;
    }

    .about-title .title{
        text-align: left;
    }

    .contact-img{
        display: none;
    }

    .main-list .card{
        margin: 0 auto;
        display: block;
        width: 16em;
    }

    
}

/*medium/ tablet*/
@media (min-width: 568px) and (max-width: 991.98px) {
    .ufo{
        display: none;
    }
    
    .jumbotrons{background-position: 175vh;}

    
    .img-ban img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.5);
        margin-top: 70px;
    }
    .img-ban{
        display: inline-block;
    }

    .banner-txt{
        margin-top: 10px;
    }
    #about{
        padding: 80px 0;
    }

    .about-desc{
        width: 100%;
        margin-top: 30px;
        padding: 0 40px;
    }

    .about-title .title{
        text-align: left;
    }
}

/*large/ pc*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
   .img-ban{
    display: none;
    }
    
    #about{
        padding: 80px 0;
    }

    .about-desc{
        width: 100%;
        margin-top: 30px;
        padding: 0 40px;
    }
    .about-title .title{
        text-align: left;
    }
 
}

@media(min-width: 1441.98px){
    .img-ban{
        display: none;
    }
}
