*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

html{
    scroll-behavior: smooth;
    
}

.title{
    color: #8c8c918a;
}

.introduce{
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    font-size: 72px;
}

.btn-primary,.btn-success{
    background-color: rgb(48, 200, 214);
    border: none;
}

.alert{
    position: absolute;
    margin-top: 15vh;
    float: right;
    background-color:  #ff577b;
    color: #fff;
    border: none;
}

.alert button{
    display: block;
}



/* color palet 
#696fdd,
#fbfbfb,
#fff,
#888df5

*/
#nav{
    position: sticky;
    top: 0;
    z-index: 10;
}
nav{
    /* background:linear-gradient(90deg, #888df5,  #696fdd); */
    background-color: #fff;
    color: #333;
    
}

/* .navbar-collapse{
    background-color: #88;
} */

.nav-item  {
    margin: 0 10px;
    color: #333;
}
.nav-item:hover{
    transition: 2.5s;
    color: #fff;
    
}

.navbar-nav{
    margin: 0 auto;
    
}

.jumbotrons{
    height: 630px;
    /* background:linear-gradient(90deg, #888df5,  #696fdd); */
    /* background-color: #88e7ce; */
    /* background-color: #fbfbfb; */
    background-image: url(../img/eko-bg.png);
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: 155vh;
    color: #333;
    background-color: #fbfbfb;
    padding-bottom: 0;
    margin-top: 0;
}

.img-ban{
    display: none;
}

.banner{
    text-align: center;
}

.banner-txt{
    margin-top: 80px;
}

.banner-img{
    margin-top: 10px;
}

.banner-img img{
    display: none;
    border-radius: 50%;
}

.btn{
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #88e7ce;
    color: #fff;
}

.banner .btn:hover{
    background-color: #405f80;
    color: #fff;
}

#about{
    /* background-image: url(../img/Saly-19.png);
    background-size: 50vh;
    background-position: 32vh;
    background-repeat: no-repeat; */
    padding: 80px 0;
}

.about-title{
    text-align: center;
}

.about-desc{
    width: 50%;
    text-align: justify;
}

#about .about-title h2{
    margin-top: 50px;
    color: #ceced18a;
}

#service{
    padding: 80px 0;
    /* background-color: #fbfbfb; */
}

.service-list{
    margin-top: 50px;
}

#service .card img{
    object-fit: cover;
    height: 250px;
    opacity: 0.6;
}

.service-item .one{
    position: relative;
    background: url(../img/card2.jpg) no-repeat center center;
    height: 300px;
    background-size: cover;
    object-fit: cover;
}
.service-item .two{
    position: relative;
    background: url(../img/card1.jpg) no-repeat center center;
    height: 300px;
    background-size: cover;
    object-fit: cover;
}

.service-item .one::before{
    background-color: #35c1f8;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    position: absolute;
    content: "";
    opacity: 0.6;
}

.service-item .two::before{
    background-color:#fdca3b;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    position: absolute;
    content: "";
    opacity: 0.6;
    
}

.service-item p{
    position: absolute;
    top: 44%;
    text-align: justify;
}



.service-item .card-text, .card-title{
    padding: 0 20px;
    color: #fff;
    font-weight: 500;
    z-index: 6;
    text-shadow: 2px 4px 4px rgb(145, 142, 142);
}

.service-item:hover{
    transform: scale(1.01);
    transition: 0.4s;
    box-shadow: 2px 4px 8px rgb(160, 157, 157);
}

/* portofolio */
#portofolio{
    margin: 80px 0; 
}

.port-title{
    text-align: center;
    margin: 80px 0;
}

#landing-project{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: #ffff;
    text-align: center;
    /* color: #fff; */
    
}

.main-list .card{
    border-radius: 10px;
    padding: 40px 24px;
    /* max-width: 312px; */
    text-align: center;
    font-weight: bold;
    height: 100%;
    width: 18em;
    margin: 0 auto;
    border: none;
}

#landing-project .main-list .card:hover{
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 4px 15px 0px rgba(21, 10, 82, 0.35);
}

.main-list .card-1{
    background-color: #888df5;
}
.main-list .card-2{
    background-color: #ff577b;
}
.main-list .card-3{
    background-color: #f0d552;
}

#contact{
    margin: 80px 0;
    position: relative;
    
}


.contact-list{
    text-align: left;
    padding: 20vh 0;
}

.contact-list img{
    display: block;
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 4px 15px 0px rgba(21, 10, 82, 0.35);
    margin-left:  auto;
    margin-right: auto;
}

.contact-list ul{
    display: flex;
    justify-content: space-around;
}

.contact-list li{
    list-style: none;
    
}

.contact-list li a{
    text-decoration: none;
}

#sosmed{
    display: flex;
    justify-content: center;
    padding: 48px 0;
    text-align: center;
    background-color: #2b546a;
}

#sosmed .fa{
    width: 25%;
    font-size: 40px;
    color: #8491a5;
}

#sosmed .fa:hover{
    color: #88e7ce;

}




footer {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #8491a5 ;
    background-color: #2b546a;
}
footer p {
    font-size: 12px;
}

.dot{
    color: yellow;
    font-weight: 500;
}
  




/* .banner .btn{
    background: linear-gradient(90deg, #9d5bfe, #3890fe);
} */

