*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #2c91fb;
}

nav .navbar-brand{
    color: white;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 28px;
    
}

nav .nav-item{
    color: white;
}

nav .navbar-nav a .btn-primary{
    background-color: white;
    
}

.btn{
    padding: 0.375rem 1.75rem;
    letter-spacing: 0.7px;
    margin-left: 10px;
}

.btn-pill{
    border-radius: 60px;
}
.jumbotron{
    /* padding: 229px 0; */
    height: 657px;
    margin-bottom: 0;
    background-color: #2c91fb;
    color: white;
    
    
}

.jumbotron .title{
    padding-top: 150px;
    /* transition: 1.02s;
    transition-delay: 3s; */
}

.jumbotron .img-brand{
    display: flex;
    justify-content: center;
}

.jumbotron img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    top: 0;
}

.jumbotron .wave{
    position: absolute;
    bottom: 0;
    left: 0;

}





/* Responsive view */
